<header>
  <nav class="navbar navbar-expand-md navbar-dark navbg-header navbg-menu">
    <a class="navbar-brand" href="/">Buy/Sell</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <% if(id == null) {%>
          <a class="nav-item nav-link" href="/api/login">Login</a>
          <a class="nav-item nav-link" href="/api/register">Register</a>
       <%} else {%>
          <a class="nav-item nav-link" href="/api/logout">Logout</a>
          <a class="nav-item nav-link" href="/api/mylist">Mylist</a>
          <a class="nav-item nav-link" href="/api/newpost">New Post</a>
          <a class="nav-item nav-link" href="/api/search">Search</a>
         <%} %>

      </div>
    </div>
  </nav>
</header>
