<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.scss" type="text/css">
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <h1>Hello World!</h1>
<<<<<<< HEAD
 <!---->
<!--<div class="services">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>Featured <em>Cars</em></h2>
       </div>
      </div>
      <div class="col-md-4">
        <div class="service-item">
          <img src="images/product-1-720x480.jpg" alt="">
          <div class="down-content">
            <h4>Lorem ipsum dolor sit amet</h4>
            <div style="margin-bottom:10px;">
              <span>
                  <del><sup>$</sup>11999 </del> &nbsp; <sup>$</sup>11779
              </span>
            </div>
            <p>
              <i class="fa fa-dashboard"></i> 130 000km &nbsp;&nbsp;&nbsp;
              <i class="fa fa-cube"></i> 1800 cc &nbsp;&nbsp;&nbsp;
              <i class="fa fa-cog"></i> Manual &nbsp;&nbsp;&nbsp;
            </p>
            <a href="car-details.html" class="filled-button">View More</a>
          </div>
        </div>

        <br>
      </div>
      <div class="col-md-4">
        <div class="service-item">
          <img src="images/product-2-720x480.jpg" alt="">
          <div class="down-content">
            <h4>Lorem ipsum dolor sit amet</h4>
            <div style="margin-bottom:10px;">
              <span>
                  <del><sup>$</sup>11999 </del> &nbsp; <sup>$</sup>11779
              </span>
            </div>

            <p>
              <i class="fa fa-dashboard"></i> 130 000km &nbsp;&nbsp;&nbsp;
              <i class="fa fa-cube"></i> 1800 cc &nbsp;&nbsp;&nbsp;
              <i class="fa fa-cog"></i> Manual &nbsp;&nbsp;&nbsp;
            </p>
            <a href="car-details.html" class="filled-button">View More</a>
          </div>
        </div>

        <br>
      </div>
      <div class="col-md-4">
        <div class="service-item">
          <img src="images/product-3-720x480.jpg" alt="">
          <div class="down-content">
            <h4>Lorem ipsum dolor sit amet</h4>
            <div style="margin-bottom:10px;">
              <span>
                  <del><sup>$</sup>11999 </del> &nbsp; <sup>$</sup>11779
              </span>
            </div>

            <p>
              <i class="fa fa-dashboard"></i> 130 000km &nbsp;&nbsp;&nbsp;
              <i class="fa fa-cube"></i> 1800 cc &nbsp;&nbsp;&nbsp;
              <i class="fa fa-cog"></i> Manual &nbsp;&nbsp;&nbsp;
            </p>
            <a href="car-details.html" class="filled-button">View More</a>
          </div>
        </div> -->

              <br>
          </div>
        </div>
      </div>
    </div>
=======

>>>>>>> 50399a3d3a54912ccfb6e3d0be485ddda0e4589f
  </body>
</html>
