<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <title>Buy/Sell</title>
  </head>

  <body>

<%- include('partials/_header') %>


 <% if (locals.user) { %>
    <p>You're signed in<p>
 <% } else { %>
  <form action="/api/login" method="POST">
    <h1>Login</h1>
    <div>
      <label for="email">Email:</label>
      <input type="email" name="email" placeholder="email">
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" name="password" placeholder="password">
    </div>
    <button type="submit">Login</button>
  </form>
</div>
 <% } %>


</body>
</html>


