

body {
  background-color: #EEE;

  h1 {
    color: #244751;
  }


}


.navbg-menu{
  background-color: black;
}

// for forms
 .search, .login, .register,.addCar {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: auto;

  &__field-wrapper {
    width: 100%;
    display: flex;
  }



  textarea, select, input, label {
    margin: 5px 5px;
    width: 100%;
  }
}

.displaycars{
  img{
    width:100%;
  }
  p{
    font-size: 11px;
    margin: 0;

  }
  border: 1px solid #efefef;
  .pad{
    padding: 0;
  }
  form {
    button{
      border:none;
      background-color: transparent;
      font-size: 0.8em;
      padding: 0px 1px;
      .fa-comments, .fa-heart{
        color:#aba6a6;
      }
      .fa-comments:hover{
        color:teal;
      }
      .fa-heart:hover{
        color:#e23737;
      }
    }

    display: inline;
  }

}


